/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

body.pointer-events :focus {
  outline: transparent;
}


._1tzswgGe {
  height: 100%;
}

._1tzswgGe > div {
  height: 100%;
}

._1tzswgGe > div > div {
  height: 100%;
}

@media(max-width: 540px) {
  body {
    overflow-x: hidden;
  }
}

@media(min-width: 544px) {
  .ReactModal__Content--after-open::after,
  .ReactModal__Content--after-open::before {
    display: none;
  }
}






/*------------------Footer---------------------*/



.footer{

  margin: 0 auto;
  max-width: 1056px;
  padding: 0 16px;

}

.footer-Content{

  padding-top: 16px;
  margin-bottom: 24px;
  border-top: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

._2NGpUowM{

  font: 12px/19px Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  max-width: 200px;
  color: #202020;
  text-decoration: none;
  margin-right: 20px;
  min-height: 75px;

}

._1JYt8F4s{

  display: block;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  max-width: 187px;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  margin-right: 20px;
  min-height: 90px;

}

._37ySe07R {

  color: rgba(33, 33, 33, 0.65);

}

.JcVwWDtr {

  color: #212121;
  font-size: 14px;
  line-height: 18px;

}

.Yjcj5aC1 {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 465px;
  min-height: 115px;

}

._2vHcLIu- {

  word-wrap: nowrap;

}

.yGdrq2N7 {

  font-size: 24px;

}

._3cL9Hyd3 {

  margin-bottom: 6px;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(33, 33, 33, 0.65);

}

._1NluGjn- {

  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  height: 1em;

}

._1NluGjn- svg {

  display: block;
  height: 100%;

}

._2NGpUowM a {

  text-decoration: none;

}

._37ySe07R {

  color: rgba(33, 33, 33, 0.65);

}

._1nqNAWsE {

  color: #212121;
  font-size: 16px;
  line-height: 20px;

}

._1EEpqhD3 {

  margin-left: 4px;
  margin-right: 4px;

}

._1wcFdNsk {

  position: relative;
  margin-top: 12px;

}

._1wcFdNsk a {

  color: #666;

}

._2NGpUowM a {

  text-decoration: none;

}

._1JYt8F4s {

  display: block;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  max-width: 187px;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  margin-right: 20px;
  min-height: 90px;

}
._37ySe07R {

  color: rgba(33, 33, 33, 0.65);

}

._1JYt8F4s ._3k63NLZS {

  display: inline-block;

}

._1JYt8F4s ._26WmcDio {

  font-size: 12px;

}

._1FVrqGTF {

  display: inline;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
  color: #278433;
  outline: transparent solid thin;
  outline-offset: 4px;
  border-bottom: 1px solid transparent;

}

.Yjcj5aC1 {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 465px;
  min-height: 115px;

}

._2YkqWn0v {

  font-size: inherit;
  font-weight: normal;
  margin: 0 0 4px 0;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(33, 33, 33, 0.65);

}

._2-7-A6-d {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;

}

._2-7-A6-d a {

  text-decoration: none;
  display: inline-block;

}

._1NluGjn- {

  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  height: 1em;

}
._1NluGjn- svg {

  display: block;
  height: 100%;

}

._2FM8W5yE._3wC3_L_h {

  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;

}

._1VUqIpF5 {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 243px;
  height: 40px;
  margin-left: 20px;

}

._2FM8W5yE {

  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #81929a;
  text-decoration: none;
  -webkit-transition: border-color 0.17s, background-color 0.17s, color 0.17s, -webkit-box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, -webkit-box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, box-shadow 0.17s, -webkit-box-shadow 0.17s;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  color: #4c6470;
  -webkit-box-shadow: inset 0 0 0 2px transparent;
  box-shadow: inset 0 0 0 2px transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

._2PMv3LOR {

  font-size: 24px;
  left: -4px;
  position: relative;

}

._1NluGjn- {

  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  height: 1em;

}

._2FM8W5yE._3wC3_L_h {

  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;

}

._1VUqIpF5 {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 243px;
  height: 40px;
  margin-left: 20px;

}

._2FM8W5yE {

  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #81929a;
  text-decoration: none;
  -webkit-transition: border-color 0.17s, background-color 0.17s, color 0.17s, -webkit-box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, -webkit-box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, box-shadow 0.17s;
  transition: border-color 0.17s, background-color 0.17s, color 0.17s, box-shadow 0.17s, -webkit-box-shadow 0.17s;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  color: #4c6470;
  -webkit-box-shadow: inset 0 0 0 2px transparent;
  box-shadow: inset 0 0 0 2px transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

._2PMv3LOR {

  font-size: 24px;
  left: -4px;
  position: relative;

}

._1NluGjn- {

  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  height: 1em;

}

.SAtJVHUM {

  width: 156px;
  margin-top: 10px;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.SAtJVHUM svg {

  width: 156px;

}

._2-7-A6-d li + li {
  margin-left: 12px;
}

._2-7-A6-d a {
  text-decoration: none;
  display: inline-block;
}


._3kKOmW3t:hover path[fill] { fill: #1DA1F2}

._3dpePwtg:hover path[fill] { fill: #4D6D8F}

._2MsShMDb:hover path[fill] { fill: #3C5A99}

.UUk5z6Mi:hover path[fill="#a6a6a6"] { fill: #E52D27}

._3IsrhwWG:hover path[fill] { fill: #FE7C00}



